<header>
  <img alt="Logo Taskify" class="logo" src="assets/Taskify.png" />
  <nav>
    <ul class="nav-links">
      <li>
        <a class="<%= currentPage === '/' ? 'active' : '' %>" href="/">Home</a>
      </li>
      <li>
        <a href="/project" class="<%= currentPage === '/project' ? 'active' : '' %>">Projects</a>
      </li>
      <li>
        <a href="/chat" class="<%= currentPage === '/chat' ? 'active' : '' %>">Conversation</a>
      </li>
    </ul>
  </nav>
  <% if (isAuthenticated===false) { %>
    <a class="login" href="/login"><button class="login-button">Login</button></a>
    <% } else { %>
      <div class="profile">
        <img src="assets/Pfp.png" class="userPfp">
        <h1 class="userName">Username</h1>
      </div>
      <% } %>
</header>