/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container-fitur-chat{
    display: flex;
    min-height: 90vh;
}

/* contacts section */
.chat-contacts{
width: 35%;
min-height: inherit;
}
.chat-contacts-header{
 border: solid 1px lightgrey;
 padding: 1rem;
 border-radius:0 0 0 0;
 border-top: none;
 
}
.chat-contacts-header p{
  font-weight: 900;
}
.chat-contacts-list{
    border: solid 1px lightgrey;
    border-top: none;
    border-radius:0px 0px 0px 5px;
    border-right:none;
    min-height: inherit;
    
 border-bottom: none;
}

.contact{
    display: flex;
   cursor: pointer;
    padding: 0.7rem;
}
.contact img{
    width: 3rem;
    margin-right:0.4rem ;
    border-radius: 50%;
}
/* contacts section */


/* chat section*/
.latest-chat{
    color: gray;
}
.chat-box{
    width: 100%;
    min-height: inherit;
}
.chat-box-header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius:5px 5px 0 0;
    align-items:center ;
}

.chat-box-header i{
    padding-right: 1rem;
    cursor: pointer;
}
.chat-box-header img{
  width: 3rem;
  margin-right:0.4rem ;
  border-radius: 50%;
}
.chat-box-header-info{
    display: flex;
}

.chat-header-title{
    font-weight: 900;
}

.group-stat{
    color: lightgrey;
    font-weight: 200;
}
.chats{
    background-color: rgb(238, 238, 238);
    /* background-image: linear-gradient(to top, rgba(210, 153, 194, 0.4) 0%, rgba(254, 249, 215, 0.4) 90%, rgba(255, 255, 255, 0.4) 100%);
     */
     background-color: rgb(241, 240, 240);
    width: 100%;
    min-height: 84.5%;
}

.contact-selected{
    background-color: #a6cef8;
}

.chat-input-form img{
 width: 1rem;
}


.chat-input-form input{
    width:94%;
    height: 2rem;
    border: none;
    margin: 0 5px 0 5px;
}
.chat-input-form{
    display: flex;
    padding: 1rem 1rem 1rem 1rem;
    border: solid 1px lightgrey;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 5px 0;
}

.chat-date{
    padding-top:1rem;
    text-align: center;
    color: rgb(119, 114, 114);
}

.chat-bubble-container{
    
}

.chat-bubble{

}
.chat-bubble{
    display: flex;
    padding: 0.7rem;
}

.my-chat-bubble{
    display: flex;
    padding: 0.7rem;
    justify-content: flex-end;
}
.my-chat-bubble-text{
    text-align: end;
    margin-right: 0.7rem;
}

.chat-bubble-container img{
    width: 3rem;
    margin-right:0.4rem ;
    border-radius: 50%;
}
.bubble{
    border: solid 1px lightgrey;
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
}
.my-bubble{
    border: solid 1px lightgrey;
    background-color: #dfeeff;
    padding: 1rem;
    border-radius: 5px;
}

.send-button, .clear-button{
    border: none;
    background-color: white;
    
}
.send-button i{
}

.attach-button{
    margin-left: 10px;
    cursor: pointer;
}

.plus-button{
    margin-right: 10px;
}

.text-area:focus, input:focus{
    outline: none;
}
/* chat section*/

.footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
}

.chat-input-form{
    width: 100%;
}