<div class="edit-home-container">
  <div class="header-title"><h1>Edit Home Information 📋</h1></div>
  <div class="editing-space">
    <div class="main-title">
      <h2>Main Title</h2>
      <div class="editable-field">
        <input
          class="editable-input"
          id="main-title-slogan"
          type="text"
          readonly
        />
        <i class="fa fa-pencil-square-o edit-button"></i>
      </div>
      <div class="editable-field">
        <input
          class="editable-input"
          id="main-title-slogan"
          type="text"
          readonly
        />
        <i class="fa fa-pencil-square-o edit-button"></i>
      </div>
    </div>
    <div class="features-information">
      <h2>Features Information</h2>
      <div class="editable-field">
        <input
          class="editable-input"
          id="main-title-slogan"
          type="text"
          readonly
        />
        <i class="fa fa-pencil-square-o edit-button"></i>
      </div>
    </div>

    <div class="preview">
      <h2>Preview</h2>
      <iframe src="/"></iframe>
    </div>
  </div>
</div>
