<div class="main">
  <div class="form">
    <h1 class="form-title">Login</h1>
    <div class="textfield">
      <label for="uname">Username</label>
      <input type="text" placeholder="username" name="uname" required />
      <br />
      <label for="pwd">Password</label>
      <input type="password" placeholder="password" name="pwd" required />
    </div>
    <br />
    <button class="form-button" onclick="popupMenu()">Login</button>
    <p class="signup">
      Doesnt have an account?
      <a href="/register">Register</a> instead
    </p>
  </div>
</div>
