<!DOCTYPE html>
<html lang="en">
  <!-- head -->
  <%- include('layouts/head') %>
  <body>
    <!-- navbar -->
    <%- include('layouts/navbar') %>
    <!-- body -->
    <%- body %>

    <!-- Sweet Alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <!-- Load the Google Platform Library -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <!-- Bootstrap v5.0 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
      crossorigin="anonymous"></script>

    <!-- jQuery CDN -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> 

    <script>
      // Fungsi untuk membuka modal
      function openModal(modalId) {
        document.getElementById(modalId).style.display = "block";
      }
      
      // Fungsi untuk menutup modal
      function closeModal(modalId) {
        document.getElementById(modalId).style.display = "none";
      }

      // Menutup modal jika klik dilakukan di luar area modal
      window.onclick = function(event) {
        if (event.target.classList.contains("modal")) {
          event.target.style.display = "none";
        }
      }
    </script>
  </body>
</html>
