<!DOCTYPE html>
<html lang="en">
  <!-- head -->
  <%- include('layouts/head') %>
  <body>
    <!-- navbar -->
    <%- include('layouts/navbar') %>
    <!-- body -->
    <%- body %>

    <!-- Sweet Alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <!-- Load the Google Platform Library -->
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>

    <script>
      // Fungsi untuk menyortir tugas berdasarkan opsi yang dipilih
      async function sortTasks() {
        var sortCriteria = document.getElementById("sortCriteria").value;
        var sortOrder = document.getElementById("sortOrder").value;

        // Lakukan sortir sesuai dengan kriteria dan urutan yang dipilih
        console.log("Sorting tasks by " + sortCriteria + " in " + sortOrder + " order");

        // Kirim data ke backend
        try {
          const response = await fetch(`/project/${sortCriteria}/${sortOrder}`, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({}),
          });
        } catch (error) {
          // Tangani kesalahan jika ada kesalahan saat melakukan permintaan
          console.error("Terjadi kesalahan:", error);
        }
      }
      
      function onSuccess(googleUser) {
        console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
      }
      function onFailure(error) {
        console.log(error);
      }
      function renderButton() {
        gapi.signin2.render('my-signin2', {
          'scope': 'profile email',
          'width': 240,
          'height': 50,
          'longtitle': true,
          'theme': 'dark',
          'onsuccess': onSuccess,
          'onfailure': onFailure
        });
      }

      // Fungsi untuk membuka modal
      function openModal(modalId) {
        document.getElementById(modalId).style.display = "block";
      }
      
      // Fungsi untuk menutup modal
      function closeModal(modalId) {
        document.getElementById(modalId).style.display = "none";
      }

      // Menutup modal jika klik dilakukan di luar area modal
      window.onclick = function(event) {
        if (event.target.classList.contains("modal")) {
          event.target.style.display = "none";
        }
      }
    </script>
  </body>
</html>
