<!DOCTYPE html>
<html lang="en">
  <!-- head -->
  <%- include('layouts/head') %>
  <body>
    <!-- navbar -->
    <%- include('layouts/navbar') %>
    <!-- body -->
    <%- body %>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      // Fungsi untuk membuka modal
      function openModal(modalId) {
        document.getElementById(modalId).style.display = "block";
      }
      
      // Fungsi untuk menutup modal
      function closeModal(modalId) {
        document.getElementById(modalId).style.display = "none";
      }

      // Menutup modal jika klik dilakukan di luar area modal
      window.onclick = function(event) {
        if (event.target.classList.contains("modal")) {
          event.target.style.display = "none";
        }
      }
    </script>
    
  </body>
</html>
