<!DOCTYPE html>
<html lang="en">
  <!-- head -->
  <%- include('layouts/head') %>
  <body>
    <!-- navbar -->
    <%- include('layouts/navbar') %>
    <!-- body -->
    <%- body %>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      // Fungsi untuk membuka modal
      function openModal() {
        document.getElementById("editTaskFormModal").style.display = "block";
      }
      
      // Fungsi untuk menutup modal
      function closeModal() {
        document.getElementById("editTaskFormModal").style.display = "none";
      }
    
      // Menutup modal jika klik dilakukan di luar area modal
      window.onclick = function(event) {
        var modal = document.getElementById("editTaskFormModal");
        if (event.target == modal) {
          closeModal();
        }
      }
    </script>
    
  </body>
</html>
