<!DOCTYPE html>
<html lang="en">
  <!-- head -->
  <%- include('layouts/head') %>
  <body>
    <!-- navbar -->
    <%- include('layouts/navbar') %>
    <!-- body -->
    <%- body %>

    <!-- Sweet Alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <!-- Load the Google Platform Library -->
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>

    <script>
      function onSuccess(googleUser) {
        console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
      }
      function onFailure(error) {
        console.log(error);
      }
      function renderButton() {
        gapi.signin2.render('my-signin2', {
          'scope': 'profile email',
          'width': 240,
          'height': 50,
          'longtitle': true,
          'theme': 'dark',
          'onsuccess': onSuccess,
          'onfailure': onFailure
        });
      }

      // Fungsi untuk membuka modal
      function openModal(modalId) {
        document.getElementById(modalId).style.display = "block";
      }
      
      // Fungsi untuk menutup modal
      function closeModal(modalId) {
        document.getElementById(modalId).style.display = "none";
      }

      // Menutup modal jika klik dilakukan di luar area modal
      window.onclick = function(event) {
        if (event.target.classList.contains("modal")) {
          event.target.style.display = "none";
        }
      }
    </script>
  </body>
</html>
