<div class="main" id="blur">
  <h1 class="profile-title">Edit User Profile</h1>
  <div class="edit-profile">
    <form class="user-profile-edit">
      <img src="<%= photoUrl %>" class="userPfp" id="userPfp">
      <div class="edit-photo-container">
        <label for="editPfp">
          <img src="assets/image-solid.svg" class="edit-photo" id="edit-photo">
        </label>
        <input type="file" id="editPfp" onchange="loadFile(event)">
      </div>
    </form>
    <ul class="field">
      <li>
        <div class="col-25">
          <label for="username">Username</label>
        </div>
        <div class="col-75">
          <input type="text" class="edit-field" name="username" id="username" placeholder="<%= username %>" readonly>
          <button class="edit-button" id="edit-username"><i class="fa-solid">&#xf044</i></button>
        </div>
      </li>
      <li>
        <div class="col-25">
          <label for="email">Email</label>
        </div>
        <div class="col-75">
          <input type="email" class="edit-field" name="email" id="email" placeholder="<%= email %>" readonly>
          <button class="edit-button" id="edit-email"><i class="fa-solid">&#xf044</i></button>
        </div>
      </li>
      <li>
        <div class="col-25">
          <label for="password">Password</label>
        </div>
        <div class="col-75">
          <input type="password" class="edit-field" name="password" id="password" placeholder="*****" readonly>
          <button class="edit-button" id="edit-password"><i class="fa-solid">&#xf044</i></button>
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- popup -->
<div class="popup" id="username-popup">
  <div class="popup-header" id="username-popup-header">
    <h2>Edit Username</h2>
    <button id="close-popup-username"><i class="fa-solid fa-x"></i></button>
  </div>
  <form action="/edit-username" method="POST">
    <div class="edit-container">
      <input type="text" placeholder="Input New Username" name="name" id="edit-username-popup" required>
    </div>
    <button class="confirm-edit-button" id="confirm-username" type="submit">Confirm</button>
  </form>
</div>

<div class="popup" id="email-popup">
  <div class="popup-header" id="email-popup-header">
    <h2>Edit Email</h2>
    <button id="close-popup-email"><i class="fa-solid fa-x"></i></button>
  </div>
  <form action="/edit-email" method="POST">
    <div class="edit-container">
      <input type="text" placeholder="Input New Email Address" name="email" id="edit-email-popup">
    </div>
    <button class="confirm-edit-button" id="confirm-email" type="submit">Confirm</button>
  </form>
</div>

<div class="popup" id="password-popup">
  <div class="popup-header" id="password-popup-header">
    <h2>Edit Password</h2>
    <button id="close-popup-password"><i class="fa-solid fa-x"></i></button>
  </div>
  <form action="/edit-password" method="POST">
    <div class="edit-container-password">
      <input type="text" placeholder="Input Old Password" name="old_password" id="edit-password-popup">
      <input type="text" placeholder="Input New Password" name="new_password" id="edit-password-popup">
    </div>
    <button class="confirm-edit-button" id="confirm-password" type="submit">Confirm</button>
  </form>
</div>