<div class="main">
  <form class="edit-profile">
    <div>
      <img src="<%= photoUrl %>" class="userPfp">
      <img src="assets/edit_userPfp.png" class="edit-photo">
    </div>
    <ul class="field">
      <li>
        <div class="col-25">
          <label for="username">Username</label>
        </div>
        <div class="col-75">
          <input type="text" name="username" id="username" placeholder="<%= username %>">
        </div>
      </li>
      <li>
        <div class="col-25">
          <label for="email">Email</label>
        </div>
        <div class="col-75">
          <input type="email" name="email" id="email" placeholder="<%= email %>">
        </div>
      </li>
      <li>
        <div class="col-25">
          <label for="password">Password</label>
        </div>
        <div class="col-75">
          <input type="password" name="password" id="password" placeholder="*****">
        </div>
      </li>
    </ul>
    <input type="submit" class="update-profile" value="Confirm">
  </form>
</div>