/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  transition: 0.25s;
}

:root {
  --background: linear-gradient(
    to top,
    rgba(210, 153, 194, 0.4) 0%,
    rgba(254, 249, 215, 0.4) 90%,
    rgba(255, 255, 255, 0.4) 100%
  );
  --background-2: rgb(248, 240, 226);
  --background-2-hover: rgb(189, 188, 188);
}

.dark-theme {
  --background: linear-gradient(to top, #303249 0%, #303249 100%);
  --background-2: #3c3f63;
  --background-2-hover: #25273b;
}

.name,
.chat-header-title,
p {
  margin-bottom: 0 !important;
}

.relative {
  position: relative;
}

.chat-bubble-text-color {
  color: black;
}

.light-blue {
  color: #007bff;
  font-weight: 100;
}

.highlight {
  text-align: center;
  background-color: #e5f1fe;
  max-width: 12rem;
  /* padding: 0 5px 0 5px; */
  border-radius: 100px;
}

.container-fitur-chat {
  margin-top: 5.8rem;
  display: flex;
  min-height: 80vh;
  position: relative;
}

.container-fitur-chat#blur.active {
  filter: blur(10px);
  pointer-events: none;
  user-select: none;
}

.chat-contacts {
  width: 35%;
  min-height: inherit;
  background-color: var(--background-color);
}

.chat-box {
  width: 100%;
  min-height: inherit;
}

.chat-contacts-header {
  border: solid 1px lightgrey;
  padding: 1rem;
  border-radius: 0 0 0 0;
}

.chat-contacts-header p {
  font-weight: 900;
}

.chat-contacts-list {
  border: solid 1px lightgrey;
  border-top: none;
  border-radius: 0px 0px 0px 5px;
  min-height: inherit;

  border-bottom: none;
}

.contact {
  display: flex;
  cursor: pointer;
  padding: 0.7rem;
}

.not-selected:hover {
  background-color: #e5f1fe;
  transition: 0.2s ease-in;
}

.contact img {
  width: 3rem;
  height: auto;
  margin-right: 0.4rem;
  border-radius: 50%;
}

.add-contact {
  background-color: var(--background-2);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  transition: ease-in-out 0.5s;
}

.add-contact:hover {
  background-color: var(--background-2-hover);
}

.popup-delete-contact {
  position: absolute;
  top: 0;
  right: -80px;
  /* Initially hidden */
  width: 80px;
  height: 100%;
  background-color: var(--background-color);
  transition: opacity 1s ease, right 0.3s ease;
  opacity: 0;
  /* Initially invisible */
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact:hover .popup-delete-contact {
  right: 0;
  /* Slide into view when hovering */
  opacity: 1;
  /* Make visible */
}

.delete-contact-icon {
  width: 1rem;
  height: 1rem;
  color: #007bff;
}

/* contacts section */

/* chat section*/
.latest-chat {
  display: inline;
}

.chat-box-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  border: 1px solid lightgrey;
  border-left: none;
  border-right: none;
  background-color: var(--background-color);
}

.chat-box-header i {
  padding-right: 1rem;
  cursor: pointer;
}

.chat-box-header img {
  width: 3rem;
  margin-right: 0.4rem;
  border-radius: 50%;
}

.chat-box-header-info {
  display: flex;
}

.chat-header-title {
  font-weight: 900;
}

.group-stat {
  font-weight: 200;
  display: inline;
  padding: 0 10px 0 10px;
}

.chats {
  /* background-color: rgb(247, 245, 234); */
  /* background-image: linear-gradient(to top, rgba(210, 153, 194, 0.4) 0%, rgba(254, 249, 215, 0.4) 90%, rgba(255, 255, 255, 0.4) 100%);
     */
  /* background-color: rgb(241, 240, 240); */
  background-image: var(--background);
  width: 100%;
  min-height: 85%;
  padding-bottom: 4.3rem;
}

.contact-selected {
  /* background-color: #a6cef8;
    */

  color: white;
  background-color: #007bff;
}

.chat-input-form img {
  width: 1rem;
}

.chat-input-form input {
  width: 94%;
  height: 2rem;
  border: none;
  margin: 0 5px 0 5px;
}

.chat-input-form {
  display: flex;
  padding: 1rem 1rem 1rem 1rem;
  border: solid 1px lightgrey;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 5px 0;
}

.chat-date {
  padding-top: 1rem;
  text-align: center;
  /* color: rgb(119, 114, 114); */
}

.chat-bubble-container {
}

.chat-bubble {
}

.chat-bubble {
  display: flex;
  padding: 0.7rem;
}

.my-chat-bubble {
  display: flex;
  padding: 0.7rem;
  justify-content: flex-end;
}

.my-chat-bubble-text {
  text-align: end;
  margin-right: 0.7rem;
}

.chat-bubble-container img {
  width: 3rem;
  margin-right: 0.4rem;
  border-radius: 50%;
}

.bubble {
  border: solid 1px lightgrey;
  background-color: white;
  padding: 1rem;
  border-radius: 5px;

  display: inline-block;
}

/* .chat-current-contact-name{
    display: inline;
} */
.my-bubble {
  border: solid 1px lightgrey;
  background-color: #dfeeff;
  padding: 1rem;
  border-radius: 5px;
}

.send-button,
.clear-button {
  border: none;
  background-color: var(--background-color);
}

.send-button i:hover,
.plus-button:hover,
.clear-button:hover,
.attach-button:hover {
  color: blue;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.attach-button {
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.plus-button {
  margin-right: 10px;
}

.text-area:focus,
input:focus,
.text-area:hover {
  outline: none;
  font-size: 1em;
  transition: ease-in-out 0.2s;
}

#popup {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  padding: 50px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  background-color: var(--background-color);
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

#popup.active {
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

#add-contact-header {
  display: flex;
  justify-content: space-between;
}

#add-contact-header button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#popup label {
  display: block;
  font-size: 16px;
  font-weight: 600;
  padding: 5px;
  margin-top: 8px;
}

#popup input {
  width: 100%;
  margin: 2px;
  border: none;
  outline: none;
  padding: 8px;
  border-radius: 9px;
  border: 1px solid gray;
  color: var(--text-color);
}

#popup #add-button {
  border: none;
  outline: none;
  padding: 8px;
  width: 100%;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 8px;
  background: #007bff;
}

.search-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 20px;
  /* Adjust as needed */
  transform: translateY(-50%);
  cursor: pointer;
}

#user-list {
  margin-top: 10px;
}

.user-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.user-pfp {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-email {
  flex: 1;
  margin-right: 10px;
}

.add-user-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.add-user-btn:hover {
  background-color: #0056b3;
}

.checkbox-container {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-right: 15px;
  cursor: pointer;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #2196f3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  content: "";
  position: absolute;
  top: 45%;
  left: 50%;
  width: 12px;
  height: 7px;
  border: 2px solid white;
  border-top: none;
  border-right: none;
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* chat section*/

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--background-color);
}

.chat-input-form {
  width: 100%;
  background-color: var(--background-color);
}

input {
  background-color: var(--background-color);
}

.text-area::placeholder {
}

.popup-addcontact-title {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

li,
a {
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .latest-chat,
  .contact img,
  .chat-contacts-header {
    display: none;
  }

  .container-fitur-chat {
    min-height: 90vh;
  }

  .chat-contacts {
    width: 40%;
    min-height: inherit;
    font-size: 14px;
  }

  .chat-contacts-list {
    border-top: 1px solid lightgrey;
  }

  .chat-box-header {
    padding: 0.4rem;
  }

  .chat-box-header img {
    display: none;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .latest-chat,
  .contact img,
  .chat-contacts-header {
    display: none;
  }

  .container-fitur-chat {
    min-height: 90vh;
  }

  .chat-contacts {
    width: 35%;
    min-height: inherit;
    font-size: 16px;
  }

  .chat-contacts-list {
    border-top: 1px solid lightgrey;
  }
}
