/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: 0.25s;
  color: var(--text-color);
}

:root {
  --background: linear-gradient(
    to top,
    rgba(210, 153, 194, 0.4) 0%,
    rgba(254, 249, 215, 0.4) 90%,
    rgba(255, 255, 255, 0.4) 100%
  );
  --background-2:#ffffff;
  --border:#a1a1a1;
}

.dark-theme {
  --background: linear-gradient(to top, #303249 0%, #303249 100%);
  --background-2:#25273b;
  --border:#ffffff;
}

p,
h2 {
  margin-bottom: 0;
}
.dashboard-container {
  position: relative;
  padding: 5rem 13rem 20rem 13rem;
  background-image: var(--background);
}
.header-morning {
  display: flex;
  padding: 2rem 0;
  justify-content: space-between;
}

.header-morning h1 {
  font-size: 30px;
}
.search-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--border);
  border-radius: 8px;
}
.search-icon {
  position: absolute;
  top: 50%;
  right: 20px; /* Adjust as needed */
  transform: translateY(-50%);
  cursor: pointer;
}
.search-input {
  border: 0px solid lightgray;
  border-radius: 10px;
  padding: 0 1rem;
}

input {
  background-color: var(--background-color);
  border: 1px solid var(--border);
}

.simple-stat-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-2);
  padding: 2rem 2rem;
  border-radius: 2rem;
}
.simple-stat {
  display: flex;
  align-items: center;
}
.simple-stat .stat-icon {
  display: flex;
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
  background-color: #d0e8ff;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}
.stat-icon img {
  width: 3.5rem;
  height: 3.5rem;
  padding: 0.3rem;
}

.stat-labels {
}
.stat-labels div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.stat-labels img {
  width: 1.3rem;
}

.stat-labels p {
  font-size: 13;
  color: #acacac;
}

.stat-labels .percentage {
  color: #00ac4f;
  font-size: 11;
  font-weight: bold;
}
.stat-labels .time-interval {
  margin-left: 4px;
}

.users-pagination {
  background-color: var(--background-2);
  padding: 2rem 2rem 0rem 2rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  margin-top: 2.5rem;
  border-bottom: 1px lightgray solid solid;
}

.pagination-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination-header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-content {
  background-color: var(--background-color);
}

.dropdown-content option {
  background-color: var(--background-color);
  color: var(--text-color);
}

.dropdown-content option:hover {
  background-color: var(--background-color);
  color: var(--text-color);
}



.sort-type {
  font-weight: bold;
  color: blue !important;
}

.columns {
  display: grid;
  grid-template-columns: 1.2fr 1fr 0.8fr 0.8fr 0.6fr;

  padding: 2rem 0rem 0.7rem 0;
}

.columns p {
  color: #acacac;
}

.users-pagination-2 {
  background-color: var(--background-2);
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding: 0 2rem;
  border-top: 1px solid lightgray;
}

.user {
  padding: 1rem 0rem;
  display: grid;
  grid-template-columns: 1.2fr 1fr 0.8fr 0.8fr 0.6fr;
  border-bottom: 1px solid lightgray;
}

.user p {
  font-weight: 600;
}

.Delete {
  width: 5rem;
  background-color: #ffc5c5;
  color: #df0404;
  border: none;
  border-radius: 5px;
  padding: 0.2rem 0;
  transition: ease-in-out 0.2s;
}
.Delete:hover {
  background-color: #df0404;
  color: #ffc5c5;
}

.see-task {
  color: #008767;
  font-weight: bold;
  cursor: pointer;
}

.see-contacts {
  color: #007bff;
  font-weight: bold;
  cursor: pointer;
}

.pagination-nav {
  display: flex;
  padding: 1rem 0rem;
  justify-content: space-between;
}

.pagination-nav p {
  color: #b5b7c0;
}

.nav {
  display: flex;
}

.nav button {
  padding: 4px 12px;
  margin: 0 4px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav button:hover {
  background-color: #c8c5c5;
}

.nav button.active {
  background-color: #007bff;
  color: #fff;
}

.pagination .prev-btn,
.pagination .next-btn {
  background-color: #333;
  color: #fff;
}

/* popup */

.popup-styles {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  padding: 50px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  background-color: var(--background-color);
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.popup-styles.active {
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}
.popup-styles label {
  display: block;
  font-size: 16px;
  font-weight: 600;
  padding: 5px;
  margin-top: 8px;
}

.popup-styles input {
  width: 100%;
  margin: 2px;
  border: none;
  outline: none;
  padding: 8px;
  border-radius: 9px;
  border: 1px solid gray;
}

.popup-title {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

#Task-header,
#Contact-header {
  display: flex;
  justify-content: space-between;
}

#Task-header button,
#Contact-header button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.dashboard-container#blur.active {
  filter: blur(10px);
  pointer-events: none;
  user-select: none;
}

.edit-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #007bff;
  font-weight: 700;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
}
.edit-home img {
  width: 4rem;
}
.edit-home:hover {
  color: #acacac;
}
