/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
}
p,
h2 {
  margin-bottom: 0;
  font-weight: 600;
}

:root {
  --background:linear-gradient(
    to top,
    rgba(210, 153, 194, 0.4) 0%,
    rgba(254, 249, 215, 0.4) 90%,
    rgba(255, 255, 255, 0.4) 100%
  );
  --background-2:#ffffff;
  --edit-text: #545454;
}

.dark-theme {
  --background:linear-gradient(to top, #303249 0%, #303249 100%);
  --background-2:#25273b;
  --edit-text: #ececec;
}

.edit-home-container {
  position: relative;
  padding: 6rem 13rem 20rem 13rem;
  background-image: var(--background);
}

.header-title {
  display: flex;
  padding: 2rem 0;
  justify-content: space-between;
}

.editing-space {
  background-color: var(--background-2);
  padding: 2rem 2rem 2rem 2rem;
  border-radius: 2rem;
  border-bottom: 1px lightgray solid solid;
}

.editable-field {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.editable-input {
  border: none;
  outline: none;
  background: var(--background-2);
  color: var(--edit-text);
  width: 40rem;
}

.edit-button {
  cursor: pointer;
  font-size: 2em;
  position: relative;
  top: 5px;
}
.main-title-button {
  cursor: pointer;
  font-size: 2em;
  position: relative;
  top: 5px;
}
iframe {
  width: 100%;
  height: 90vh;
}
