/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
p,
h2 {
  margin-bottom: 0;
  font-weight: 600;
}

.edit-home-container {
  position: relative;
  padding: 6rem 13rem 20rem 13rem;
  background-image: linear-gradient(
    to top,
    rgba(210, 153, 194, 0.4) 0%,
    rgba(254, 249, 215, 0.4) 90%,
    rgba(255, 255, 255, 0.4) 100%
  );
}

.header-title {
  display: flex;
  padding: 2rem 0;
  justify-content: space-between;
}

.editing-space {
  background-color: white;
  padding: 2rem 2rem 2rem 2rem;
  border-radius: 2rem;
  margin-top: 2.5rem;
  border-bottom: 1px lightgray solid solid;
}

.editable-field {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.editable-input {
  border: none;
  outline: none;
  background: white;
  color: #545454;
  width: 40rem;
}

.edit-button {
  cursor: pointer;
  font-size: 2em;
  position: relative;
  top: 5px;
}

iframe {
  width: 100%;
  height: 90vh;
}
