li,
a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5%;
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: #ffffff;
  top: 0;
  left: 0;
}

.logo {
  cursor: pointer;
  width: 200px;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  font-weight: bold;
  color: #a1a1a1;
  transition: all 0.3s ease 0s;
}

.nav-links li a.active {
  color: #007bff;
}

.nav-links li a:hover {
  color: #007bff;
}

.login-button {
  width: 100px;
  height: 40px;
  font-weight: bold;
  font-size: 16;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-left: 60px;
  border-radius: 8px;
}

.login-button:hover {
  background-color: #01377e;
}

.nav-user {
  width: 100px;
  height: 70px;
  margin-top: 8px;
  margin-left: 60px;
  text-align: center;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.nav-userPfp {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: #a1a1a1 solid 2px;
  margin-left: auto;
  margin-right: auto;
}

.nav-userName  {
  font-size: 0.9rem;
  font-weight: 500;
}

.settings {
  position: absolute;
  top: 70px;
  right: 0px;
  z-index: 1000;
  width: auto;
  background-color: #ffffff;
  border: #a1a1a1 solid 2px;
  border-radius: 12px;
  padding: 4px;
  opacity: 0;
  transition: 350ms opacity ease;
}

.settings-buttons {
  list-style: none;
}

.settings-buttons li {
  margin: 8px;
}

.edit-profile-button {
  display: inline-block;
  width: 90px;
  height: 36px;
  font-weight: bold;
  font-size: 16;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  border-radius: 8px;
}

.logout-button {
  display: inline-block;
  width: 90px;
  height: 36px;
  font-weight: bold;
  font-size: 16;
  color: #ffffff;
  background-color: rgb(223, 31, 31);
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  border-radius: 8px;
}

.nav-user:hover .settings {
  opacity: 1;
}