/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

/* Global Styles */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #ffffff;
}

/* Header Styles */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 5%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    cursor: pointer;
    width: 200px;
}

.navbar a {
    font-size: 16px;
    color: #a1a1a1;
    transition: all 0.3s ease 0s;
    font-weight: bold;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar a:hover {
    color: #007bff;
}

.navbar a.active {
    color: #007bff;
}

.login-button {
    min-width: 100px;
    min-height: 40px;
    font-weight: bold;
    font-size: 16;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 60px;
    border-radius: 8px;
}

.login-button:hover {
    background-color: #01377e;
}

.main {
    background-image: linear-gradient(to top, rgba(210, 153, 194, 0.4) 0%, rgba(254, 249, 215, 0.4) 90%, rgba(255, 255, 255, 0.4) 100%);
    width: 100%;
    min-height: calc(100vh - 100px);
    /* Tinggi viewport - tinggi header */
    margin-top: 70px;
    padding-top: 10vh;
}

#blur.active {
    filter: blur(20px);
}

.edit-profile {
    margin: auto;
    width: 540px;
    padding: 36px;
    background-color: #ffffff;
    box-shadow: rgba(105, 104, 104, 0.1) 0px 2px 8px 0px;
    border-radius: 24px;
    text-align: center;
}

.userPfp {
    width: 160px;
    height: 160px;
    border-radius: 100%;
    border: #000000 solid 4px;
}

.edit-photo {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: none;
    background-color: #eeeeee;
    position: absolute;
    top: 38%;
    left: 51.8%;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.edit-photo:hover {
    background-color: #a1a1a1;
}

.field {
    list-style: none;
    margin-top: 8px;
}

.field::after {
    content: "";
    display: table;
    clear: both;
}

.col-25 {
    width: 25%;
    float: left;
    margin-top: 28px;
    text-align: right;
}

.col-75 {
    width: 75%;
    float: left;
    margin-top: 8px;
    position: relative;
}

.edit-button {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

label {
    font-size: 1.1em;
    font-weight: 700;
}

.edit-field {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 8px;
    cursor: default;
    outline: none;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
    background-color: white;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.popup.active {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.popup-header {
    display: flex;
    justify-content: space-between;
}

.popup-header button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.edit-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.popup label {
    display: block;
    font-size: 16px;
    font-weight: 600;
    padding: 5px;
    margin-top: 8px;
}

.popup input {
    width: 100%;
    margin: 2px;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid gray;
    font-size: 1em;
}

.confirm-edit-button {
    width: 100%;
    padding: 8px;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    border-radius: 8px;
    margin-top: 16px;
}

.confirm-edit-button:hover {
    background-color: #01377e;
}