/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; /* Mengatur font default ke Poppins */
}

li,
a {
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}

/* Application Styles */
.app {
  width: 100%;
  min-height: calc(100vh - 100px);
  margin-top: 70px;
  padding-top: 20px;
  /* Gradient background untuk .app */
  background-image: linear-gradient(
    to top,
    rgba(210, 153, 194, 0.4) 0%,
    rgba(254, 249, 215, 0.4) 90%,
    rgba(255, 255, 255, 0.4) 100%
  );
}

/* Taskify Styles */
.taskify {
  padding: 2rem;
  max-width: 75%;
  width: 100%;
  display: inline-block;
}

.taskify-info {
  padding: 2rem 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.taskify-tasks {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  grid-column-gap: 1.5rem;
}

.taskify-col-header-title {
  font-size: 20px;
}

/* Task Styles */
.task {
  cursor: move;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 8px;
  width: 100%;
  box-shadow: rgba(105, 104, 104, 0.1) 0px 2px 8px 0px;
  margin-bottom: 1rem;
  border: 3px dashed transparent;
}

.task:hover {
  box-shadow: rgba(118, 115, 115, 0.3) 0px 2px 8px 0px;
  border-color: rgba(162, 179, 207, 0.2) !important;
}

.task p {
  font-size: 14px;
  margin: 1.2rem 0;
}

.task-tag {
  border-radius: 100px;
  padding: 4px 16px;
  font-size: 12px;
  color: #007bff;
  background-color: #e5f1fe;
}

.task-tags {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.task-options {
  background: transparent;
  border: 0;
  color: #bebebe;
  font-size: 17px;
}

.collaborators {
  padding-left: 10px;
  background: transparent;
  border: 0;
  color: #bebebe;
  font-size: 12px;
}

.task-desc {
  position: relative;
  width: 100%;
  color: #bebebe;
  font-size: 12px;
}

.task-desc span:not(:last-of-type) {
  margin-right: 10px; /* Added missing unit (px) */
}

.task-desc svg {
  margin-right: 100px;
}

.task-owner {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background: #007bff;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  bottom: 0;
  color: #ffffff;
  font-weight: bold;
}

.task-hover {
  border: 3px dashed #bebebe;
}

/* Task Details Styles */
.taskify-progress {
  width: 24%;
  border-left: 1px solid #bebebe;
  display: inline-block;
  height: 100%;
  vertical-align: top;
  padding: 1rem 2rem;
}

/* Tag Progress Styles */
.tag-progress {
  margin: 1.2rem 0;
}

.tag-progress h1 {
  font-size: 20px;
  margin-bottom: 1rem;
}

.tag-progress p {
  display: flex;
  font-size: 14px;
  width: 100%;
  justify-content: space-between;
}

.tag-progress .progress {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 10px;
  height: 10px;
}

.tag-progress .progress::-webkit-progress-bar {
  background-color: #d5d2d2;
  border-radius: 100px;
}

.tag-progress .progress::-webkit-progress-value {
  background-color: #007bff;
  border-radius: 10px;
}

.chat-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.chat-button img {
  width: 50%;
  height: auto;
  color: white;
}

.chat-button:hover {
  background-color: #0051ff;
}

.add-task-card {
  background-color: transparent;
  border: 2px dashed #007bff;
  padding: 10px;
  text-align: center;
  border-radius: 6px;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: background-color 0.5s ease;
}

.add-task-button {
  background-color: transparent;
  color: #007bff;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.add-task-card:hover {
  background-color: #e5f1fe;
}

/* Dropdown Styles */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #007bff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight: normal;
  font-size: small;
}

.delete-option,
.edit-option {
  background-color: #ffffff;
  color: #007bff;
  border-radius: 8px;
  border: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: left;
}

.delete-option:hover,
.edit-option:hover {
  background-color: #f1f1f1;
}

.delete-option {
  color: red !important; /* Warna teks untuk opsi delete */
}

.task-options:hover .dropdown-content {
  display: block;
}

.dropdown-button {
  background-color: transparent;
  border: none;
}

.dropdown-button i {
  color: #bebebe;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Latar belakang semi-transparent untuk modal */
}

.modal-content {
  background-color: #fefefe;
  margin: 20% auto;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
}

.close {
  color: #bebebe;
  float: right;
  font-size: 24px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

form {
  display: grid;
  gap: 10px;
}

h2 {
  text-align: center;
  color: #000000;
}

label {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: #000000;
}

input[type="text"],
input[type="date"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

button[type="submit"],
button[type="editTask"] {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  margin-top: 12px;
  padding: 10px 20px;
  cursor: pointer;
}

button[type="submit"]:hover,
button[type="editTask"]:hover {
  background-color: #0056b3;
}

.sort-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 40px;
}

.sort-column {
  margin-right: 40px;
}

.sort-column h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.sort-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sort-button:hover {
  background-color: #0037ff;
}

/* Media queries for small screens */
@media only screen and (max-width: 600px) {
  .app {
    padding: 1rem;
  }

  .taskify {
    max-width: 100%;
  }

  .taskify-tasks {
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 1rem;
  }

  .taskify-progress {
    width: 100%;
    border-left: none;
  }
}

/* Media queries for tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .taskify-tasks {
    grid-template-columns: repeat(2, 1fr);
  }
}
